src/main/resources/hello.xsd

<xs:schema xmlns:tns="http://hellojaxws.example.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0"
           targetNamespace="http://hellojaxws.example.com/">

    <xs:element name="greeting" type="tns:greeting"/>
    <xs:element name="greetingResponse" type="tns:greetingResponse"/>

    <xs:complexType name="greeting" />

    <xs:complexType name="greetingResponse">
        <xs:sequence>
            <xs:element name="message" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>